# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.vscode/
.gcloudignore
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

out

# firebase
.firebase/
.firebaserc
# firebase.json
# serviceAccountKey.json
# components/utils/client.js
# components/utils/server.js

functions/firebase-debug.log

serviceAccountKey.json
